<%
    // Get timestamp for one week ago
    const oneWeekAgo = new Date();
    oneWeekAgo.setDate(oneWeekAgo.getDate() - 7);
    const oneWeekAgoTimestamp = Math.floor(oneWeekAgo.getTime() / 1000);

    let kitchenSpecial, bakerySpecial, drinkSpecial;

    try {
        let kitchenSpecials = $app.findRecordsByFilter(
            "specials",
            `created >= ${oneWeekAgoTimestamp} && type = 'kitchen'`,
            "-created",                                   // sort
            1,                                            // limit
            0,                                             // offset
        );
        kitchenSpecial = kitchenSpecials.length > 0 ? kitchenSpecials[0] : null;
    } catch (err) {
        kitchenSpecial = null;
    }

    try {
        let bakerySpecials = $app.findRecordsByFilter(
            "specials",
            `created >= ${oneWeekAgoTimestamp} && type = 'bakery'`,
            "-created",                                   // sort
            1,                                            // limit
            0,                                             // offset
        );
        bakerySpecial = bakerySpecials.length > 0 ? bakerySpecials[0] : null;
    } catch (err) {
        bakerySpecial = null;
    }

    try {
        let drinkSpecials = $app.findRecordsByFilter(
            "specials",
            `created >= ${oneWeekAgoTimestamp} && type = 'drink'`,
            "-created",                                   // sort
            1,                                            // limit
            0,                                             // offset
        );
        drinkSpecial = drinkSpecials.length > 0 ? drinkSpecials[0] : null;
    } catch(err) {
        drinkSpecial = null;
    }

    const getMediaURL = (record, index = 0) => {
        if (!record || !record.get('media') || record.get('media').length === 0) {
            return null;
        }
        const appUrl = $app.settings().meta.appURL;
        const fileName = record.get('media')[index];
        if (!fileName) {
            return null;
        }
        return `${appUrl}/api/files/specials/${record.get('id')}/${fileName}`;
    };

%>

<div class="carousel flex gap-4 pb-8 md:justify-center w-1/1">

    <% if (kitchenSpecial) { %>
        <div class="carousel-item w-4/5 md:w-1/3 lg:w-1/5 flex flex-col">
            <% if (getMediaURL(kitchenSpecial)) { %>
                <figure>
                <img src="<%= getMediaURL(kitchenSpecial) %>" alt="Kitchen Special" class="w-1/1 aspect-1/1 object-cover rounded-box shadow lg:rotate-1">
                </figure>
            <% } %>
            <h2 class="pt-2 pb-2 text-xl">Kitchen Special</h2>
            <div class="pb-2">
                <% if (kitchenSpecial.get('is_vegan')) { %>
                    <span class="text-xs">Ⓥ Vegan</span>
                <% } %>
                <% if (kitchenSpecial.get('is_glutenfree')) { %>
                    <span class="text-xs">Gluten Free</span>
                <% } %>
            </div>
            <%- kitchenSpecial.get('content') %>
        </div>
    <% } %>

    <% if (bakerySpecial) { %>
        <div class="carousel-item w-4/5 md:w-1/3 lg:w-1/5 flex flex-col">
            <% if (getMediaURL(bakerySpecial)) { %>
                <figure>
                <img src="<%= getMediaURL(bakerySpecial) %>" alt="Bakery Special" class="w-1/1 aspect-1/1 object-cover rounded-box shadow lg:rotate-1">
                </figure>
            <% } %>
            <h2 class="pt-2 pb-2 text-xl">Bakery Special</h2>
            <div class="pb-2">
                <% if (bakerySpecial.get('is_vegan')) { %>
                    <span class="text-xs">Ⓥ Vegan</span>
                <% } %>
                <% if (bakerySpecial.get('is_glutenfree')) { %>
                    <span class="text-xs">Gluten Free</span>
                <% } %>
            </div>
            <%- bakerySpecial.get('content') %>
        </div>
    <% } %>

    <% if (drinkSpecial) { %>
        <div class="carousel-item w-4/5 md:w-1/3 lg:w-1/5 flex flex-col">
            <% if (getMediaURL(drinkSpecial)) { %>
                <figure>
                <img src="<%= getMediaURL(drinkSpecial) %>" alt="Drink Special" class="w-1/1 aspect-1/1 object-cover rounded-box shadow lg:rotate-1">
                </figure>
            <% } %>
            <h2 class="pt-2 pb-2 text-xl">Drink Special</h2>
            <div class="pb-2">
                <% if (drinkSpecial.get('is_vegan')) { %>
                    <span class="text-xs">Ⓥ Vegan</span>
                <% } %>
                <% if (drinkSpecial.get('is_glutenfree')) { %>
                    <span class="text-xs">Gluten Free</span>
                <% } %>
            </div>
            <%- drinkSpecial.get('content') %>
        </div>
    <% } %>

</div>