<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
    <title><%= $app.settings().meta.appName %></title>
    <script src="<%= asset('assets/lib.iife.js') %>"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0/themes.css" rel="stylesheet" type="text/css" />
    <link href="<%= asset('assets/style.css') %>" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="flex flex-col items-center min-h-screen">
    <%- include('global-header.ejs') %>
    <main class="flex flex-col flex-1 rounded-box border-y py-8 px-4 lg:px-8 w-90/100 max-w-360 pb-24">
    <%- slot %>
    </main>
    <%- include('global-footer.ejs') %>
</body>
</html>